@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* Tailwinds CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@layer base {
  @font-face {
    font-family: 'Beliau Regular';
    src: local('Beliau Regular'), url('/assets/fonts/beliau.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}

body {
  @apply bg-primary;
  @apply font-spaceGrotesk text-white text-base font-normal;
}

body::-webkit-scrollbar {
  @apply w-3.5;
}

body::-webkit-scrollbar-track {
  @apply bg-primary;
}

body::-webkit-scrollbar-thumb {
  @apply bg-[#A1A1A1];
  @apply rounded-full;
  @apply border-[5px] border-solid border-primary;
  @apply px-0.5;
}